* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background: #DAF0FF;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

.calculadora {
    border-radius: 39px;
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    height: 568px;
    width: 375px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 20px;
}

input {
    font-size: 48px;
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: #17181A;
    border: none;
    outline: none;
    text-align: right;
    padding-top: 70px;
}

button {
    font-size: 24px;
    border: none;
    margin: 10px;
    border-radius: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.botao-preto {
    background-color: #303136;

}

.botao-azul {
    background-color: #ae0808;
}

.botao-cinza {
    background: #616161;

}

.botao-azul-claro {
    background: #ff1919;

}

.zero {
    grid-column: 1/3;
}

.igualdade {
    grid-row: 6/8;
    grid-column: 4/5;
}